[Unit]
Description=timer start demon report_psql.service

[Timer]
#OnUnitActiveSec=30
OnCalendar=Tue..Sat *-*-* 02:00:00
Unit=report-pgs-logs.service

[Install]
WantedBy=timers.target
